
/*    FONT    */

@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

@import 'bootstrap/dist/css/bootstrap.min.css';

body{
    font-family: "Source Code Pro", monospace;
    height: 100% !important;
}



*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

:root{
    --primary: rgb(3, 3, 97);
}

